In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
df = pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [6]:
df1 = df.dropna()
df1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [7]:
df1 = df1[df1.Global_Sales >= 0.2]
df1 = df1.drop(df1.index[[0,1]])
df1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
...,...,...,...,...,...,...,...,...,...,...,...
7729,7731,Zombie Army Trilogy,PS4,2015.0,Shooter,Rebellion Developments,0.04,0.12,0.00,0.03,0.20
7730,7732,NHL FaceOff 2001,PS2,2001.0,Sports,Sony Computer Entertainment,0.10,0.07,0.00,0.02,0.20
7731,7733,Mana Khemia 2: Fall of Alchemy,PS2,2008.0,Role-Playing,Gust,0.07,0.05,0.05,0.02,0.20
7732,7734,The Great Escape,PS2,2003.0,Action,SCi,0.10,0.07,0.00,0.02,0.20
7733,7735,Dexter's Lab Chess Challenge,GBA,2002.0,Misc,BAM! Entertainment,0.14,0.05,0.00,0.00,0.20

In [8]:
df1['NA_Ratio']=df1['NA_Sales'] / df1['Global_Sales']
df1['JP_Ratio']=df1['JP_Sales'] / df1['Global_Sales']
df1['EU_Ratio']=df1['EU_Sales'] / df1['Global_Sales']
df1['Other_Ratio']=df1['Other_Sales'] / df1['Global_Sales']
df1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,NA_Ratio,JP_Ratio,EU_Ratio,Other_Ratio
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.442490,0.105807,0.359576,0.092406
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.477273,0.099394,0.333636,0.089697
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.359260,0.325789,0.283392,0.031878
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,0.766689,0.139458,0.074686,0.019167
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01,0.379207,0.216594,0.307564,0.096634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7729,7731,Zombie Army Trilogy,PS4,2015.0,Shooter,Rebellion Developments,0.04,0.12,0.00,0.03,0.20,0.200000,0.000000,0.600000,0.150000
7730,7732,NHL FaceOff 2001,PS2,2001.0,Sports,Sony Computer Entertainment,0.10,0.07,0.00,0.02,0.20,0.500000,0.000000,0.350000,0.100000
7731,7733,Mana Khemia 2: Fall of Alchemy,PS2,2008.0,Role-Playing,Gust,0.07,0.05,0.05,0.02,0.20,0.350000,0.250000,0.250000,0.100000
7732,7734,The Great Escape,PS2,2003.0,Action,SCi,0.10,0.07,0.00,0.02,0.20,0.500000,0.000000,0.350000,0.100000
7733,7735,Dexter's Lab Chess Challenge,GBA,2002.0,Misc,BAM! Entertainment,0.14,0.05,0.00,0.00,0.20,0.700000,0.000000,0.250000,0.000000

In [9]:
df_7th_gen = df1.loc[df1['Platform'].isin(['Wii','PS3','X360'])]
df_7th_gen

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,NA_Ratio,JP_Ratio,EU_Ratio,Other_Ratio
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.442490,0.105807,0.359576,0.092406
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.477273,0.099394,0.333636,0.089697
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02,0.483460,0.100965,0.317023,0.098208
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62,0.509783,0.164221,0.246681,0.078966
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72,0.393486,0.158451,0.353433,0.094630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7698,7700,Shiren the Wanderer,Wii,2008.0,Role-Playing,Sega,0.08,0.00,0.11,0.01,0.20,0.400000,0.550000,0.000000,0.050000
7702,7704,Conan,X360,2007.0,Action,THQ,0.16,0.02,0.00,0.02,0.20,0.800000,0.000000,0.100000,0.100000
7705,7707,Warriors Orochi,X360,2007.0,Action,Tecmo Koei,0.17,0.01,0.00,0.02,0.20,0.850000,0.000000,0.050000,0.100000
7719,7721,Marvel Super Hero Squad: Comic Combat,Wii,2011.0,Action,THQ,0.15,0.03,0.00,0.01,0.20,0.750000,0.000000,0.150000,0.050000
7723,7725,Beyblade: Metal Fusion - Battle Fortress,Wii,2009.0,Action,Konami Digital Entertainment,0.15,0.00,0.03,0.01,0.20,0.750000,0.150000,0.000000,0.050000

In [16]:
df.groupby('Genre')['Rank'].nunique()

Genre
Action          3316
Adventure       1286
Fighting         848
Misc            1739
Platform         886
Puzzle           582
Racing          1249
Role-Playing    1488
Shooter         1310
Simulation       867
Sports          2346
Strategy         681
Name: Rank, dtype: int64

In [17]:
df_7th_gen.groupby('Genre')['Rank'].nunique()

Genre
Action          579
Adventure        61
Fighting        111
Misc            281
Platform         71
Puzzle           16
Racing          157
Role-Playing    143
Shooter         272
Simulation       81
Sports          393
Strategy         33
Name: Rank, dtype: int64

In [24]:
years = df['Year'].unique()
genres = df['Genre'].unique()
sales_columns = [['NA_Sales'],['EU_Sales'],['JP_Sales'],['Other_Sales'],['Global_Sales']]
ratio_columns = [['NA_Ratio'],['EU_Ratio'],['JP_Ratio'],['Other_Ratio']]
sr_columns = sales_columns + ratio_columns

[['NA_Sales'],
 ['EU_Sales'],
 ['JP_Sales'],
 ['Other_Sales'],
 ['Global_Sales'],
 ['NA_Ratio'],
 ['EU_Ratio'],
 ['JP_Ratio'],
 ['Other_Ratio']]

In [33]:
print(df.groupby('Genre').mean()[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']])

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Genre
Action        0.264726  0.158323  0.048236     0.056508      0.528100
Adventure     0.082271  0.049868  0.040490     0.013072      0.185879
Fighting      0.263667  0.119481  0.103007     0.043255      0.529375
Misc          0.235906  0.124198  0.061967     0.043312      0.465762
Platform      0.504571  0.227573  0.147596     0.058228      0.938341
Puzzle        0.212680  0.087251  0.098471     0.021564      0.420876
Racing        0.287766  0.190865  0.045388     0.061865      0.586101
Role-Playing  0.219946  0.126384  0.236767     0.040060      0.623233
Shooter       0.444733  0.239137  0.029221     0.078389      0.791885
Simulation    0.211430  0.130773  0.073472     0.036355      0.452364
Sports        0.291283  0.160635  0.057702     0.057532      0.567319
Strategy      0.100881  0.066579  0.072628     0.016681      0.257151

In [21]:
stats.f_oneway(df[df['Genre']=='Action']['Global_Sales'],df[df['Genre']=='Adventure']['Global_Sales'],)

F_onewayResult(statistic=104.61683668470822, pvalue=2.6925418307752543e-24)

In [109]:
stats.ttest_ind(df_7th_gen.NA_Ratio,
                df_7th_gen.JP_Ratio)

Ttest_indResult(statistic=74.68364178233722, pvalue=0.0)

In [103]:
#fig = experiment_data[experiment_data.test==1][
#    ['treatment_date', 'is_signed_up']].groupby('treatment_date').mean().plot()
#experiment_data[experiment_data.test==0][
#    ['treatment_date', 'is_signed_up']].groupby('treatment_date').mean().plot(ax=fig)
#plt.legend(['test','control'])
#plt.title('Comparing Signup Rates by Treatment Date')
#plt.show()


# Generate a test statistic comparing test and control on treatment date
#print('T-Test Results by Date')

#for date in experiment_data.treatment_date.unique():
#    dated_data = experiment_data[experiment_data.treatment_date == date]
#    print(stats.ttest_ind(dated_data[dated_data.test == 1].is_signed_up,
#                          dated_data[dated_data.test == 0].is_signed_up))


for date in df.Year.unique():
    year = df[df.Year == date]
    print(stats.ttest_ind(year.JP_Sales,
                          year.NA_Sales))

Ttest_indResult(statistic=-3.9086870466917314, pvalue=9.586710983005019e-05)
Ttest_indResult(statistic=-0.6499826250528288, pvalue=0.52140553509578)
Ttest_indResult(statistic=-11.490969034015643, pvalue=6.591889966171544e-30)
Ttest_indResult(statistic=-9.051132710601147, pvalue=2.5518322151865936e-19)
Ttest_indResult(statistic=-1.4715841879125733, pvalue=0.14173348954370069)
Ttest_indResult(statistic=-1.077134598551213, pvalue=0.289473698391)
Ttest_indResult(statistic=-0.713425518581188, pvalue=0.4819377097837497)
Ttest_indResult(statistic=-8.977653724778051, pvalue=6.541694737311027e-19)
Ttest_indResult(statistic=-4.266058182865309, pvalue=2.2742949769022944e-05)
Ttest_indResult(statistic=-11.384770939139187, pvalue=2.764991616933733e-29)
Ttest_indResult(statistic=-8.917547137070086, pvalue=8.959161656373776e-19)
Ttest_indResult(statistic=-5.55776675512652, pvalue=3.434207798947289e-08)
Ttest_indResult(statistic=-9.942368530492972, pvalue=1.306236729635194e-22)
Ttest_indResult(statistic=-0.8148422524093483, pvalue=0.4215844504647617)
Ttest_indResult(statistic=-0.7215150335139555, pvalue=0.47657494466108197)
Ttest_indResult(statistic=-9.953715475891379, pvalue=1.040085017297626e-22)
Ttest_indResult(statistic=-7.868219606692361, pvalue=9.644384770559542e-15)
Ttest_indResult(statistic=-9.314146843671898, pvalue=2.8048849140404345e-20)
Ttest_indResult(statistic=-5.525076944535431, pvalue=4.533797497206352e-08)
Ttest_indResult(statistic=-5.521811406280504, pvalue=4.0923836376340044e-08)
Ttest_indResult(statistic=-5.917722034881617, pvalue=4.160641422764885e-09)
Ttest_indResult(statistic=-6.658725858071063, pvalue=4.250502047103346e-11)
Ttest_indResult(statistic=-0.45679187620804496, pvalue=0.6489997011470958)
Ttest_indResult(statistic=-3.361595374783132, pvalue=0.0008262988942743007)
Ttest_indResult(statistic=1.3762957239516758, pvalue=0.1713362747728523)
Ttest_indResult(statistic=0.7134079685858045, pvalue=0.4762864754258179)
Ttest_indResult(statistic=-3.8274026262595395, pvalue=0.0002787404757210497)
Ttest_indResult(statistic=-13.251825239117, pvalue=4.778073065842098e-38)
Ttest_indResult(statistic=1.4538386680064856, pvalue=0.1537927944917402)
Ttest_indResult(statistic=-4.842146117694279, pvalue=1.5836941363649277e-06)
Ttest_indResult(statistic=nan, pvalue=nan)
Ttest_indResult(statistic=2.7390354744159318, pvalue=0.006414583132237011)
Ttest_indResult(statistic=-2.4023116818612364, pvalue=0.01655659379974337)
Ttest_indResult(statistic=0.44808069380353055, pvalue=0.6553061106714028)
Ttest_indResult(statistic=-6.737803766962261, pvalue=1.480304733146351e-09)
Ttest_indResult(statistic=0.7612660618564262, pvalue=0.4524411034076782)
Ttest_indResult(statistic=-2.7521699860740414, pvalue=0.01417070742594687)
Ttest_indResult(statistic=0.09726879257527546, pvalue=0.9231196224437244)
Ttest_indResult(statistic=nan, pvalue=nan)
Ttest_indResult(statistic=2.5, pvalue=0.06676654481198813)

AttributeError: 'DataFrame' object has no attribute 'year'