In [9]:
import statistics as st
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

names = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
ages = [14, 12, 11, 10, 8, 6, 8]
df = pd.DataFrame(index=names)
df['Age'] = ages
df

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [18]:
df.describe()

             Age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [20]:
st.mode(df['Age'])

8

In [22]:
np.std(df['Age'], ddof=0)

2.531435020952764

In [24]:
np.var(df['Age'], ddof=0)

6.408163265306122

In [25]:
np.var(df['Age'], ddof=1)

7.476190476190475

In [26]:
np.std(df['Age'] ,ddof=1) / np.sqrt(len(df['Age']))

1.0334540197243192

With no extreme outliers, I think the mean best describes the central tendency. The standard error seems strange to use with this small of a sample size, so standard deviation is likely a better measure of variance in the data.

In [27]:
ages_cindy_birthday = ages = [14, 12, 11, 10, 8, 7, 8]
df1 = pd.DataFrame(index=names)
df1['Age'] = ages
df1

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7
Oliver    8

In [28]:
df1.describe()

             Age
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [30]:
np.var(df1['Age'], ddof=1)

6.333333333333333

In [31]:
np.std(df1['Age'] ,ddof=1) / np.sqrt(len(df1['Age']))

0.9511897312113418